.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: aliceblue;
}

.nav-link {
    margin-left: 40px;
    text-decoration: none;
    color: #000;
    font-weight: 700;
    background-color: #c0c0c0;
    padding: 10px;
    border-radius: 0.625rem;
}

.hero-text{
    text-align: center;
    padding: 100px;
}

.hero-btns{
    background-color: #c0c0c0;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-left: 900px;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    color: #000;
}


.hero-image{
    transition: 0.5s ease-in;
    width: 100%;
}

.image {
    transition: 0.3s ease;
    max-width: 400px;
    max-height: 600px;
    border-radius: 0.625rem;
}

*{
    transition: 0.3s ease;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.movies-display{
    max-width: 10px;
    display: flex;
}

.movieDisplay{
    transition: 0.3s ease;
    max-width: fit-content;
    background-color: #c0c0c0;
    padding: 20px;
    margin: 20px;
    border-radius: 0.8rem;
    box-shadow: 2px 2px #f00;
    text-align: center;
}

.display-details {
    display: flex;
    gap: 20px;
    background-color: #c0c0c0;
    max-width: 700px;
    padding: 20px;
    border-radius: 0.8rem;
    box-shadow: 2px 2px #f00;
}

.search {
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}

.btn {
    color: #fff;
    background-color: #00f;
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin-right: 10px;
    cursor: pointer;
}

.btn:hover{
    color: #000;
    background-color: #fff;
}

.search input{
    border-radius: 10px;
    padding: 10px;
    margin-left: 20px;
    border-color: #000;
}